#hero-container .jumbotron {
	background-image: url('images/beachHorizon.jpg');
	background-size: cover;
	border-radius: 0;
}

.navbar {
	background: #88769a
}
.carousel-item img {
	width: 100%;
}

/* .#navigation-tabs {
	padding: .2rem;
} */
.nav-tabs {
	/* margin: 0 4em; */
	border: none;
	padding: .5rem;
	display: flex;
	flex-direction;
	justify-content: space-between;
}
.nav-tabs .nav-link {
	padding: .2rem;
	border-bottom: none;
}
.nav-tabs .nav-item {
	border: 1px solid #0275d8;
	margin: .1rem;
	border-radius: .3rem;
	font-size: .8rem;
}

.image-group {
	display: flex;
	flex-direction: row;
	/* width: 1000px; */
	overflow-x: scroll;
	white-space: nowrap;
	justify-content: space-between;
	/*border: 1px solid red;*/
}
.image-group .card {
	margin: .2rem;
	border: none;
	white-space: normal;
}

.card-img-overlay {
	position: absolute;	/* top: 9rem; */

	/* left: 1rem; */
}
img.card-img-top {
	border-radius: 0;
}

.card-block .btn {
	padding-left: 0;
}

.tab-content-copy {
	margin: 1rem;
}

.image-and-video-container .card-img-top {
	width: 17rem;
	height: auto;
}

.enlarged-image {
		width: 100%;
	height: auto;
}

.enlarged-image-container {

	margin: .5rem;
}

.form-group #exampleTextarea {
	margin: 0 auto;
	width: 21.5rem;
}
